annotated-types==0.7.0
anyio==4.6.2.post1
blobfile==3.0.0
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
comtypes==1.4.8
docx2pdf==0.1.8
filelock==3.16.1
fire==0.7.0
fsspec==2024.10.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.2
idna==3.10
Jinja2==3.1.4
llama_models==0.0.49
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
packaging==24.1
pillow==11.0.0
prompt_toolkit==3.0.48
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
PyPDF2==3.0.1
python-dotenv==1.0.1
python-pptx==1.0.2
pywin32==310
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
rich==13.9.4
setuptools==75.3.0
sniffio==1.3.1
termcolor==2.5.0
tiktoken==0.8.0
tqdm==4.66.6
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
XlsxWriter==3.2.0
